body {
	background-image:url("#{resource['gfx/smallPaper.jpg']}");
	background-attachment:fixed;
}

#contents{
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius:20px;
	box-shadow: -5px 5px 10px grey;
}

.messages{
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 5px;
	list-style-type: none;
}

.fix-left{
	margin-left: 15px;
}

.fix-right{
	margin-right: 15px;
}

.background-ugly{
	background-color: white;
}

@media (min-width: 576px){
	#contents > *{
		margin-left: 5px;
		margin-right: 5px;
	}
	body{
		background-image:url("#{resource['gfx/largePaper.jpg']}");
	}
}
