<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title>Zoo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
   	<h:outputStylesheet name="css/screen.css" />
    
</h:head>
<h:body>

	
		
		
	
	<nav class="navbar navbar-dark navbar-expand-md bg-dark">
		<div class="container">
		<a class="navbar-brand mr-0 mr-md-2" href="index.html" aria-label="zoo"><svg width="38" height="38" viewBox="0 0 100 100">
			<path d="M 95 80 Q 95 95 75 95 L 25 95 Q 5 95 5 75 L 5 50 Q 5 25 25 25 L 75 25 L 25 75 L 75 75 Q 95 75 95 50 L 95 25 Q 95 5 75 5 L 25 5 Q 5 5 5 20" stroke-width="10" stroke="white" fill="none"/>
		</svg></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navContent">
			<ul class="navbar-nav  flex-column flex-md-row">
				
				<li class="nav-item">
					<a class="nav-link text-light" href="index.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="animals.xhtml">Animals</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" href="login.xhtml">Keepers</a>
				</li>
				<h:panelGroup rendered="#{not empty loginController.loggedInUser}">
					<li class="nav-item dropdown">
						<a class="nav-link text-light dropdown-toggle" data-toggle="dropdown">Logged in as #{loginController.loggedInUser.name}</a>
						<div class="dropdown-menu bg-dark">
							<h:form>
								<h:commandButton action="#{loginController.logout()}" class="dropdown-item text-danger" value="logout"/>
							</h:form>
						</div>
					</li>
				</h:panelGroup>
			</ul>
			
		</div>
		
		</div>
	</nav>

    <div id="contents" class="container bg-light">
        <div id="content">
            <ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
        </div>
        
        <div id="footer">
            
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    
</h:body>
</html>
