<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/manager.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{loginController.checkManager()}"/>
		</f:metadata>
		<h1>Grow your zoo</h1>
		<h3>Add an animal</h3>
		<h:form>
			<div class="form">
				<div class="form-group">
					<h:outputLabel value="Name"/>
					<h:inputText class="form-control" value="#{addAnimalController.newAnimal.name}"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="Species" for="species"/>
					<div class="row">
						<p:autoComplete class="fix-left" id="species" dropdown="true" value="#{addAnimalController.newAnimal.description}" 
						completeMethod="#{addAnimalController.speciesToAdd}" var="_species"
						itemLabel="#{_species.name}" itemValue="#{_species}" converter="#{speciesConverter}"
						forceSelection="true"
						/>
						
					</div>
				</div>
				
				<div class="form-group">
					<h:outputLabel value="Habitat"  for="habitat"/>
					<div class="row">
						<p:autoComplete class="fix-left" id="habitat" dropdown="true" value="#{addAnimalController.newAnimal.habitat}" 
						completeMethod="#{addAnimalController.habitatsAllowed}" var="_habitat"
						itemLabel="#{_habitat.name}" itemValue="#{_habitat}" converter="#{habitatConverter}"
						forceSelection="true"
						/>
					</div>
				</div>
				<div class="form-group">
					<h:outputLabel value="Birthdate"  for="birth"/>
					<div class="row">
						<p:calendar id="birth" class="fix-left" value="#{addAnimalController.newAnimal.birthDate}"/>
					</div>
				</div>
				
				
				<h:commandButton action="#{addAnimalController.attemptSave()}" class="btn btn-primary" value="Add Animal"/>
			</div>
		</h:form>
			
		<h:messages styleClass="messages" infoClass="alert alert-success" errorClass="error alert alert-danger" showDetail="true"/>
		
	</ui:define>
</ui:composition>