<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/manager.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{loginController.checkManager()}"/>
		</f:metadata>
		<h1>Grow your zoo</h1>
		<h3>Add a Habitat</h3>
		<h:form>
			<div class="form">
				<div class="form-group">
					<h:outputLabel value="Name"/>
					<p:inputText class="form-control" value="#{addHabitatController.newHabitat.name}"/>
				</div>
				<div class="form-group">
					<h:outputLabel value="Capacity"/>
					<div>
						<p:inputNumber id="capacity" value="#{addHabitatController.newHabitat.capacity}"/>
					</div>
				</div>
				<div class="form-group">
					<h:outputLabel value="Type" for="type"/>
					<div>
						<p:autoComplete id="type" value="#{addHabitatController.newHabitat.type}" dropdown="true" completeMethod="#{addHabitatController.getEnvironments}"
						forceSelection="true"
						/>
					</div>
				</div>
				<h:commandButton action="#{addHabitatController.attemptSave}" class="btn btn-primary" value="Add Habitat"/>
			</div>
		</h:form>
		<h:messages styleClass="messages" infoClass="alert alert-success" errorClass="error alert alert-danger" showDetail="true"/>
		
	</ui:define>
</ui:composition>