<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
	<h2>
		Our Fantastic Beasts and Where to Find Them
	</h2>
		<table class="table table-responsive-sm table-bordered table-striped">
			<thead class="thead-dark">
						<tr>
						<th>Beast</th>
						<th>Name</th>
						<th>Where to find them</th>
					</tr>
				</thead>
				<tbody>
					<ui:repeat value="#{animalsPageController.animals()}" var="_animal">
						<tr>
							<td>#{_animal.description.name}</td>
							<td>#{_animal.name}</td>
							<td>Habitat: #{_animal.habitat.name}</td>
						</tr>
					</ui:repeat>
				</tbody>
		</table>
		</ui:define>
</ui:composition>