<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">
		<f:metadata>
			<f:viewAction action="#{loginPageController.checkLoginNecessary()}"/>
		</f:metadata>
		<h:form>
			<div class="form-group">
				<h:outputLabel value="Login:" for="login"/>
				<h:inputText value="#{loginPageController.login}" id="login"  class="form-control"/>
				
			</div>
			<div class="form-group">
				<h:outputLabel value="Password:" for="password"/>
				<h:inputSecret value="#{loginPageController.password}" id="password" class="form-control"/>
			</div>
			
			<h:commandButton action="#{loginPageController.attemptLogin()}" value="Login" class="btn btn-primary"/>
		</h:form>
		<h:messages styleClass="messages" infoClass="alert alert-success" errorClass="error alert alert-danger" showDetail="true"/>
		
	</ui:define>
</ui:composition>